In [1]:
# 第一題
import pandas as pd
import statsmodels.stats.anova as anova
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import numpy as np

In [2]:
date_return = pd.DataFrame(np.array([[16, 20, 10, 8, 7], [14, 15, 11, 11, 6], [10, 16, 13, 6, 8], [9, 12, 11, 7, 8], [15, 11, 9, 7, 13], [14, 10, 8, 9, 6], [8, 6, 13, 12, 10], [6, 7, 11, 15, 7], [13, 9, 6, 10, 5], [9, 11, 7, 13, 9]]),
                   columns=['D1', 'D2', 'D3', 'D4', 'D5'])
date_return.head()

   D1  D2  D3  D4  D5
0  16  20  10   8   7
1  14  15  11  11   6
2  10  16  13   6   8
3   9  12  11   7   8
4  15  11   9   7  13

In [3]:
df_melt = date_return.melt()
df_melt.head()

  variable  value
0       D1     16
1       D1     14
2       D1     10
3       D1      9
4       D1     15

In [4]:
df_melt.columns = ['Key','Value']
df_melt.head()

  Key  Value
0  D1     16
1  D1     14
2  D1     10
3  D1      9
4  D1     15

In [5]:
# 變異數分析
model = ols('Value ~ C(Key)',data=df_melt).fit()
anova_table = anova_lm(model, typ = 2)
print(anova_table)

          sum_sq    df         F    PR(>F)
C(Key)     92.12   4.0  2.324176  0.070932
Residual  445.90  45.0       NaN       NaN

In [6]:
# p=0.070932 > 0.05 接受虛無假設

In [7]:
# 第二題

df = {'方案A':list(np.array([3.12, 2.45, -1.56, 1.13, 0.55])),
      '方案B':list(np.array([-2.24, 0.56, 1.33, -1.05, 1.41])),\
      '方案C':list(np.array([1.53, 2.41, -1.88, -0.31, -0.65])),\
      '方案D':list(np.array([1.05, 1.86, -0.81, 2.34, 0.33]))}

#組合成 DataFrame
df = pd.DataFrame(df)
df

    方案A   方案B   方案C   方案D
0  3.12 -2.24  1.53  1.05
1  2.45  0.56  2.41  1.86
2 -1.56  1.33 -1.88 -0.81
3  1.13 -1.05 -0.31  2.34
4  0.55  1.41 -0.65  0.33

In [8]:
df_melt = df.melt()
df_melt.head()

  variable  value
0      方案A   3.12
1      方案A   2.45
2      方案A  -1.56
3      方案A   1.13
4      方案A   0.55

In [9]:
df_melt.columns = ['Key','Value']
df_melt.head()

   Key  Value
0  方案A   3.12
1  方案A   2.45
2  方案A  -1.56
3  方案A   1.13
4  方案A   0.55

In [10]:
# 變異數分析
model = ols('Value ~ C(Key)',data=df_melt).fit()
anova_table = anova_lm(model, typ = 2)
print(anova_table)

             sum_sq    df         F    PR(>F)
C(Key)     4.574575   3.0  0.585394  0.633244
Residual  41.677480  16.0       NaN       NaN

In [11]:
# p=0.633244 > 0.05 接受虛無假設