In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./hitstory.csv')

In [3]:
# 1.
# (a)
df.head()

,Convertible.Arbitrage,CTA.Global,Distressed.Securities,Emerging.Markets,Equity.Market.Neutral,Event.Driven,Fixed.Income.Arbitrage,Global.Macro,Long.Short.Equity,Merger.Arbitrage,Relative.Value,Short.Selling,Date
0,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,1997-01-31
1,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,1997-02-28
2,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,1997-03-31
3,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,1997-04-30
4,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,1997-05-31

In [4]:
# (b)
df['Emerging.Markets'].mean()

0.008246052631578947

In [5]:
# (c)
df['Emerging.Markets'].median()

0.013649999999999999

In [6]:
# (d)
df['Emerging.Markets'].mode()

0    0.016
dtype: float64

In [7]:
# (e)
[df['Emerging.Markets'].quantile(i) for i in [0.1,0.9]]

[-0.03844, 0.04798000000000002]

In [8]:
# 2.
# (a)
df['Event.Driven'].max()-df['Event.Driven'].min()

0.1328

In [9]:
# (b)
df['Event.Driven'].mad()

0.012804657202216066

In [10]:
# (c)
print('變異數:',df['Event.Driven'].var())
print('標準差:',df['Event.Driven'].std())

變異數: 0.00033673989369118157
標準差: 0.018350473936418688